*
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo {
    background-color: white;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid #014421;
    margin-bottom: 30px;
  }
  
  .logo img {
    width: 60%;
  }
  
  .forgot-box {
    background-color: #eeeeee;
    padding: 30px 40px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
  }
  
  .forgot-box h2 {
    margin-bottom: 13%;
    text-align: center;
    color: black;
  }
  
  .forgot-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .forgot-box button {
    width: 80%;
    padding: 13px;
    margin-bottom: 15px;
    background-color: #3baa5c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
   
  }
  
  .forgot-box button:hover {
    background-color: #2a8747;
  }
  
  .terms {
    margin-top: 15px;
    font-size: 12px;
    color: #555;
  }
  
  .terms a {
    color: #006eff;
    text-decoration: none;
  }
  
  .terms a:hover {
    text-decoration: underline;
  }
  .back {
    margin-top: 5px;
    font-size: 10px;
    color:  #555;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .back a {
    color: #004aad;  
    text-decoration: none;
    font-weight: 5px;
    padding: 5px;
    transition: transform 0.3 s ease;
  }
  .back a:hover {
    color:  #0eb62f;  
    text-decoration: none;
    transform: scale(1.1);
  }
  
  
  